* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: 5rem 1fr 3rem;
	font-size: 1rem;
	height: 100vh;
}

header {
	border: 2px solid red;
}

.burger-nav {
	display: block;
	height: 2.5rem;
	width: 100%;
	background: url(images/icon.png) no-repeat 98% center;
	background-color: #404040;
	cursor: pointer;
}

main {
	border: 2px solid greenyellow;
}

footer {
	border: 2px solid blueviolet;
}

.footer-icon {
	color: red;
	font-size: 2rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1024px) {
}
